.vote-average {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  color: var(--danger-color);
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  font-size: 1rem;
}
