.registration-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  justify-content: center;

  h2 {
    margin-bottom: 1.5rem;
  }

  fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 480px;

    .field {
      display: flex;
      flex-direction: column;
      padding-bottom: 1.5rem;

      label {
        margin-bottom: 0.5rem;
      }

      sup {
        color: var(--danger-color);
        vertical-align: baseline;
      }

      input {
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 32px;
        padding: 0 0.5rem;
      }
    }

    button {
      background-color: var(--primary-color);
      border: 1px solid #ccc;
      border-radius: 4px;
      color: var(--secondary-color);
      cursor: pointer;
      font-weight: bold;
      padding: 0.8rem;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 430px) {
  .registration-container {
    fieldset {
      width: 280px;
    }
  }
}
