.item-container {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 100%;
  max-width: 300px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow:
    0 4px 8px 0 rgb(0 0 0 / 20%),
    0 6px 20px 0 rgb(0 0 0 / 19%);
}

.item-container:hover {
  transform: scale(1.1);
}

.item-container img {
  height: 450px;
}

.title-container {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.title-container .title {
  word-wrap: break-word;
  color: var(--secondary-color);
  padding-right: 0.8rem;
}

.no-decoration {
  text-decoration: none;
}
