.content-bcg {
  background-color: var(--primary-color);
  min-height: 100vh;
  padding-bottom: 1rem;
}

.content-container {
  background-color: var(--secondary-color);
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
  width: 90vw;
}

.button-back-container {
  background-color: var(--primary-color);
}

.button-back {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  height: 35px;
  margin: 1rem 0 1rem -2rem;
  outline: none;
  padding: 0.6rem 1.2rem;
  text-align: center;
  white-space: nowrap;
  width: 100px;
}

.button-back:hover {
  background-color: var(--danger-color);
  color: var(--secondary-color);
}

.item-content {
  background-color: var(--secondary-color);
  box-shadow:
    0 2px 4px 0 rgb(255 255 255 / 20%),
    0 3px 10px 0 rgb(255 255 255 / 19%);
  column-gap: 3rem;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr;
  -ms-grid-rows: 2fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  justify-items: stretch;
  min-height: 550px;
  padding: 3rem;
}

.item-media {
  align-self: center;
  justify-self: center;
}

.item-media.picture {
  height: 100%;
  width: 400px;
}

.item-media.video {
  border: 0;
  height: 100%;
  width: 100%;
}

.item-title {
  -webkit-box-pack: justify;
  color: var(--primary-color);
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

hr {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(0 0 0 / 75%)), to(rgb(0 0 0 / 0%)));
  background-image: linear-gradient(to right, rgb(0 0 0 / 75%), rgb(0 0 0 / 0%));
  border: 0;
  height: 1px;
}

.item-release {
  color: #808080;
  font-size: 0.7rem;
  padding: 5px 0;
  white-space: pre-wrap;
}

.item-overview {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1rem;
}

@media screen and (max-width: 1100px) {
  .content-bcg {
    height: 100%;
    width: 100vw;
  }

  .content-container {
    width: 80vw;
  }

  .item-content {
    display: grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
  }

  .item-title {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .button-back {
    font-size: 0.8rem;
    height: 25px;
    margin: 1rem 0 1rem -2rem;
    padding: 5px 12px;
    width: 80px;
  }

  .item-content {
    padding: 2rem;
  }

  .item-media {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .content-bcg {
    padding-top: 2rem;
  }

  .button-back {
    display: none;
  }

  .item-content {
    padding: 1rem;
  }

  .item-overview {
    font-size: 1rem;
  }
}