.navbar-container {
  align-items: center;
  background-color: var(--primary-color);
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  font-size: 1.2rem;
  height: 80px;
  justify-content: space-between;
  min-width: 300px;
  padding: 0 50px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-buttons {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-button-item {
  align-items: center;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 35px;
  margin: 0 5px;
  outline: none;
  padding: 0.8rem 1.2rem;
  text-align: center;
  white-space: nowrap;
}

.active {
  background-color: var(--danger-color);
  color: var(--secondary-color);
}

#search-box {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  height: 35px;
  margin-left: auto;
  margin-right: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  transition: width 0.4s ease-in-out;
  width: 200px;
}

#search-box:focus {
  width: 30%;
}

.fa-sign-out {
  color: var(--secondary-color);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #search-box:focus {
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  .navbar-button-item {
    font-size: 1rem;
    padding: 5px 12px;
  }

  #search-box,
  #search-box:focus {
    width: 170px;
  }
}

@media screen and (max-width: 430px) {
  .navbar-container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .navbar-button-item {
    font-size: 1rem;
    height: 25px;
    margin: 0 5px 0 0;
    padding: 5px 10px;
  }

  #search-box {
    font-size: 1rem;
    height: 25px;
    margin: 0 0.5rem 0 0;
    padding: 5px 10px;
    width: 160px;
  }

  #search-box:focus {
    width: 160px;
  }
}
