.navbar {
  background: var(--primary-color);
  height: 80px;
  width: 100%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 50px;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-button-item {
  display: inline-flex;
  align-items: center;
  height: 35px;
  margin: 0 5px;
  padding: 10px 24px;
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.active {
  background-color: var(--danger-color);
  color: var(--secondary-color);
}

input[type='text'] {
  height: 35px;
  width: 200px;
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: var(--secondary-color);
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type='text']:focus {
  width: 30%;
}

@media screen and (max-width: 800px) {
  input[type='text']:focus {
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  .navbar-button-item {
    padding: 5px 12px;
    font-size: 16px;
  }

  input[type='text'],
  input[type='text']:focus {
    width: 170px;
  }
}

@media screen and (max-width: 430px) {
  .navbar {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .navbar-button-item {
    height: 25px;
    margin: 0 5px 0 0;
    padding: 5px 10px;
    font-size: 1rem;
  }

  input[type='text'] {
    height: 25px;
    width: 160px;
    margin: 0;
    padding: 5px 10px;
    font-size: 1rem;
  }

  input[type='text']:focus {
    width: 160px;
  }
}
