.loading {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 150px auto;
}

.loading img {
  height: 100px;
  width: 100px;
}
