.error {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  -ms-flex-pack: center;
  font-size: 4rem;
  justify-content: center;
  margin: 150px auto;

  button {
    margin-top: 2rem;

    a {
      color: var(--primary-color);
      text-decoration: 'none';
    }
  }
}

@media screen and (max-width: 750px) {
  .error {
    font-size: 2rem;
    white-space: nowrap;
  }
}
